:root {
  --default-color: #FF4301;
  --black: #000;
  --light-dark: #333333;
  --font-family: Montserrat;
}

body {
  font-size: 16px !important;
  color: var(--black) !important;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.jumbo-bg {
  position: relative;
  background: url(../images/calc-img/herohead.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100% !important;
  height: 540px;
  z-index: -3;
}

.jumbo-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(3, 49, 84, .2));
  opacity: .2;
  z-index: -1;
}

.jumbo-wrapper {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.jumbo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--black);
  opacity: 0.8;
  width: 50%;
  height: 100%;
  padding: 0 100px;
  z-index: 99;
}

.jumbo-text .jumbo-colored {
  color: var(--default-color);
  width: 50%;
  border-bottom: 1px solid #FF4301;
}

.calculate__now {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FF4301;
}

.calculate__bmi {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}

.herop2 {
  text-shadow: 0px 0px #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.jumbo-text h2 {
  font-size: 2.8rem;
  text-shadow: 0px 0px #fff;
}

.startbtn {
  background-color: var(--default-color);
  width: 35%;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  z-index: 9999;
}

.calculator-info {
  background-color: var(--black);
  width: 45%;
  border-radius: 7px;
  padding: 15px;
}

.calculator-info h3 {
  color: var(--default-color);
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #FF4301;
}

.calculator-info h5 {
  font-size: 16px;
}

.calculator-info label {
  font-size: 14px;
}

.calculator-info input {
  border: 1px solid #FF4301;
}

.calculator-info button {
  background-color: var(--default-color);
  color: #fff;
  padding: 10px 50px;
  margin-right: 20px;
}

.calculator-info button:hover {
  opacity: .8;
  color: #fff;
}

#result {
  color: #FF4301;
  height: 50px;
  width: 100%;
}

.calculator-info table,
.calculator-info th,
.calculator-info tr,
.calculator-info td {
  border: 1px solid #FF4301 !important;
  background-color: #fff;
  color: #FF4301;
  font-weight: light;
}

.bmidetails {
  width: 60%;
  margin: 0 auto;
}

.bmidetails p {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
}

.img-show div {
  margin: 7px;
}

.img-show img {
  width: 100%;
}


@media all and (max-width: 1400px) {
  .calculator-info {
    width: 612px;
  }

  .bmidetails {
    width: 80%;
  }

}

@media all and (max-width: 950px) {
  .jumbo-bg {
    height: 450px;
  }

  .jumbo-text {
    width: 100%;
    text-align: center;
  }

  .jumbo-text .jumbo-colored {
    color: var(--default-color);
    width: 126px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    border-bottom: 1px solid #FF4301;
  }

  .calculator-info {
    width: 70%;
  }

  .calculator-info h3 {
    font-size: 1.5rem;
  }

  .bmicalc {
    flex-direction: column !important;
    width: 100% !important;
    margin: 0 auto;
    padding: 0;
  }

  .weightheightwrap {
    width: 100% !important;
    margin: 0 auto;
  }

  .weightheight {
    flex-direction: column;
  }

  .calcbtn {
    flex-direction: column !important;
  }

  .calcbtn div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .calculator-info button {
    background-color: var(--default-color);
    color: #fff;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100% !important;
    text-align: center;
  }

  .tablewrap {
    width: 300px !important;
    margin-right: auto !important;
    justify-content: center !important;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  .bmidetails {
    width: 90%;
  }
}

@media all and (max-width: 650px) {
  .jumbo-text {
    width: 100%;
    height: 100%;
    padding: 0 40px;
  }

  .jumbo-text h2 {
    font-size: 2.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .startbtn {
    width: 60%;
    font-size: 1.4rem;
    margin-top: 20px;
  }

  .calculator-info {
    width: 100% !important;
  }

  .calculator-info h3 {
    font-size: 1.3rem;
  }

  .weightheightwrap {
    width: 100% !important;
  }

  .tablewrap {
    width: 210px !important;
  }

  .bmidetails {
    width: 100% !important;
  }

  .img-show div {
    margin-bottom: 20px;
  }
}