*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}
footer{
    display: block;
}

.ff{
    padding: 0;
    margin: 0;
    width: 100%;
}

a:hover{
    text-decoration: none;
}

/*header*/
/*desktop nav section*/
header{
    width: 100%;
    position: fixed;
    z-index: 3;
}
main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    margin: 0;
}

.nav-img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.topnav{
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;

    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 105, 52) 20%, black 20%);
    background-size: cover;
    color: white;

}

.navigation ,.navigation a{
    display: flex;
    list-style: none;
    padding: 0 2.188rem;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 12px;
}

.hide{
    display: none;
}

.topimg{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.company-name{

    color: #000000;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: lighter;
    margin: 0 0 0 60px;
}

.wrapper{
    margin-top: 10px;
}

#bold{
    font-weight: bold;

}

/*desktop nav ends*/
/*mobile nav starts*/
.hide-mobile-nav{
    display: block;
}

.guy{
    position: relative;
}

.hj{
    background: linear-gradient(45deg, rgb(255, 67, 1) 20%, black 20%);
    background-size: cover;

}

#navicon{
    height: 15px;
   float: right;
}

.company-name-mobile{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 10px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.nav-bg{
    background: #000000;
}

.mobile-nav, .mobile-nav li a{
    display: grid;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 20px;

    align-items: center;



    color: #FFFFFF;
}
/*mobile nav ends*/


/*footer*/



.mobile-foot{
    
    display: grid;
    height: 100vh;
    background: #000000;
    color: #FFFFFF;
    justify-content: center;
    padding: 2.5%;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
}

.mobilenav, .mobilenav li{
    text-decoration: none;
    list-style: none;
    padding: 12.5% 0 12.5% 0;

}

.mobilenav li a{
    color: #FFFFFF;
}

.companyname{
    font-family: 'Podkova', serif;
    font-size: 1.563rem;
    color: #FF4301;
}
/*SMALL SCREEN RESPONSIVENESS*/
@media all and (min-width: 240px) and (min-height: 320px){
    .mobile-foot{
        height: 100%;
    }
}

@media all and (min-width: 420px){
    .mobile-foot{
        height: 100vh;
    }   
}

/* TABLET AND OTHER BIG SCREENS RESPONSIVENESS */
@media only screen and (min-width: 768px){
    .topnav{
        background: linear-gradient(45deg, rgb(255, 67, 1) 20%, black 20%);
        background-size: cover;
    }
    .hide-mobile-nav{
        display: none;
    }

    .company-name{
        color: #000000;
        font-family: Roboto;
        font-size: 20px;
        font-weight: lighter;
        margin-left: 30px;
        /*nav section ends*/
    }


    .navigation ,.navigation a{
        display: flex;
        list-style: none;
        padding: 0 0.9rem;
        align-items: center;
        justify-content: flex-end;
        color: white;

    }

    .hide{
        display: block;
    }

    footer{
        display: none;
    }

    .hd{
        display: none;
    }

    #hr{
        background-color: #FFFFFF;
        margin: 0 1.2%;
    }


    .foot{
        display: grid;
        background: #000000;
        height: 100%;
        padding: 4.2%;

    }

    .foot-nav{
        align-items: center;

    }

    .footnav{
        display: flex;
        list-style: none;
        padding: 0 3% 1% 0;
        align-items: center;
        justify-content: center;        
        color: #FFFFFF;
    }

    .footnav a{
        display: flex;
        list-style: none;
        padding: 0 30px;
        align-items: center;
        justify-content: center;        
        color: #FFFFFF;
    }

    .companyname{
        padding-left: 2.9%;
    }

    .desk{
        font-size: 1.875rem;
    }

    .margin{
        margin-left: auto;
    }

    .slogn{
        color: #FFFFFF;
        padding-left: 2.9%;
        font: 0.85rem/1.5px Montserrat;
        width: 50%;
    }

    .list{
        padding: 0 20px;
        font: 0.85rem/1.5px Montserrat;
    }

    .socialicons{
        padding-right: 1.25%;
    }

    .socials{
        padding: 2% 3% 0 0;
        display: flex;
    }

}

@media only screen and (min-width: 768px) and (min-height: 1024px){
    .navigation, .navigation a{
        font-size: 10px;
        padding: 0 0.4rem;
    }

    .list{
        padding: 0px;
    }

    .px-2{
       padding: 0px; 
    }
}

@media only screen and (min-width: 992px){
   

    .navigation ,.navigation a{
        display: flex;
        list-style: none;
        padding: 0 1.7rem;
        align-items: center;
        justify-content: flex-end;
        color: white;
        font-size: 12px;
    }

    .company-name{
        color: #000000;
        font-family: Roboto;
        font-size: 32px;
        font-weight: lighter;
        margin-left: 60px;
    }

}

@media all and (min-width: 1024px) and (min-height: 768px){
    .navigation, .navigation a{
        font-size: 12px;
        padding: 0 0.6rem;
    }   
}

