* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
}

footer {
  display: block;
}

.ff {
  padding: 0;
  margin: 0;
  width: 100%;
}

/*header*/
/*desktop nav section*/
header {
  width: 100%;
  position: fixed;
  z-index: 3;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  margin: 0;
}

.nav-img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.topnav {
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgb(255, 105, 52) 20%, black 20%);
  background-size: cover;
  color: white;
}

.navigation,
.navigation a {
  display: flex;
  list-style: none;
  padding: 0 2.188rem;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 12px;
}

.hide {
  display: none;
}

.topimg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.company-name {
  color: #000000;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: lighter;
  margin-left: 60px;
  /*nav section ends*/
}

#bold {
  font-weight: bold;
}

/*desktop nav ends*/
/*mobile nav starts*/
.hide-mobile-nav {
  display: block;
}

.guy {
  position: relative;
}

.hj {
  background: linear-gradient(45deg, red 30%, black 30%);
  background-size: cover;
}

#navicon {
  height: 15px;
  float: right;
}

.company-name-mobile {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-left: 10px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}

.nav-bg {
  background: #000000;
}

.mobile-nav,
.mobile-nav li a {
  display: grid;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding: 20px;

  align-items: center;

  color: #ffffff;
}

/*mobile nav ends*/

/*footer*/

.mobile-foot {
  display: grid;
  height: 100vh;
  background: #000000;
  color: #ffffff;
  justify-content: center;
  padding: 2.5%;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
}

.mobilenav,
.mobilenav li {
  text-decoration: none;
  list-style: none;
  padding: 12.5% 0 12.5% 0;
}

.companyname {
  font-family: 'Podkova', serif;
  font-size: 1.563rem;
  color: #ff4301;
}

/* TABLET AND OTHER BIG SCREENS RESPONSIVENESS */
@media only screen and (min-width: 768px) {
  .topnav {
    background: linear-gradient(45deg, rgb(255, 105, 52) 20%, black 20%);
    background-size: cover;
  }

  .hide-mobile-nav {
    display: none;
  }

  .company-name {
    color: #000000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 30px;
    /*nav section ends*/
  }

  .navigation,
  .navigation a {
    display: flex;
    list-style: none;
    padding: 0 0.9rem;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }

  .hide {
    display: block;
  }

  footer {
    display: none;
  }

  .hd {
    display: none;
  }

  #hr {
    background-color: #ffffff;
    margin: 0 1.2%;
  }

  .foot {
    display: grid;
    background: #000000;
    height: 100%;
    padding: 4.2%;
  }

  .foot-nav {
    align-items: center;
  }

  .footnav {
    display: flex;
    list-style: none;
    padding: 0 3% 1% 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  .footnav a {
    display: flex;
    list-style: none;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  .companyname {
    padding-left: 2.9%;
  }

  .desk {
    font-size: 1.875rem;
  }

  .margin {
    margin-left: auto;
  }

  .slogn {
    color: #ffffff;
    padding-left: 2.9%;
    font: 0.85rem/1.5px 'Montserrat';
    width: 50%;
  }

  .list {
    padding: 0 20px;
    font: 0.85rem/1.5px 'Montserrat';
  }

  .socialicons {
    padding-right: 1.25%;
    display: flex;
  }

  .socials {
    padding: 2% 3% 0 0;
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .navigation,
  .navigation a {
    display: flex;
    list-style: none;
    padding: 0 1.7rem;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 12px;
  }

  .company-name {
    color: #000000;
    font-family: Roboto;
    font-size: 32px;
    font-weight: lighter;
    margin-left: 60px;
    /*nav section ends*/
  }
}

.main-wrapper {
  position: relative;
  background-image: url(../images/Rectangle32.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 489px;
}

.cover-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(89.91deg, rgba(0, 0, 0, 0) 0.03%, #033154 40.1%);
  opacity: 0.7;
  transform: matrix(-1, 0, 0.01, -1, 0, 0);
}

.center-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  text-align: center;
  z-index: 1;
  margin-top: -4rem;
}

@media only screen and (max-device-width: 480px) {
  .center-text {
    margin-top: -15rem;
  }

  .cfnt {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 2.1rem;
  }

  #s-card {
    margin-bottom: 8%;
    margin-top: 8%;
  }
}

@media only screen and (max-width: 768px) {
  .cfnt {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0rem;
  }

  #s-card {
    margin-bottom: 8%;
    margin-top: 8%;
  }

  .center-text {
    margin-top: -11rem;
  }
  .card {
    margin: auto;
  }
}

.text {
  transform: rotate(180deg);
}

.lorem__ipsum {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.price__plan {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
}

.choose__plan {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.pricing__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #828282;
}

.button {
  background: white;
  border: 1px solid #ff4301;
  border-radius: 5px;
  color: #ff4301;
  width: 239px;
  height: 47px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}

.button:hover {
  background: #ff4301;
  color: white;
  border: none;
}

.flat {
  width: 70px;
  height: 2px;
  border: 2px solid white;
}

.plan {
  margin-top: 10%;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

span {
  font-size: 35px;
}

.a {
  width: 1000px;
  height: 1000px;
  font-size: large;
  font-weight: bold;
}
.margin-to-zero {
  margin: 0;
}
