body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat' !important;
}

#rectangle3 {
  width: 100%;
}

#services h2 {
  text-align: center;
  color: #ff4301;
  font-weight: bold
}

#rectangle7 {
  width: 100%;
  height: 15px;
  background-color: #ff4301;
}

.best__way {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FF4301;
}

.hero__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.select__services {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 28px;
  color: #FF4301;
}

.item {
  position: relative;
  padding: 0;
  width: 30%;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-text {
  position: absolute;
  height: 60px;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bolder;
  font-size: 3vw;
  color: #FFFFFF;
  line-height: 3vw;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.item:hover .item-text {
  font-size: 2vw;
  line-height: 2vw;
  transition: all 0.3s ease-in-out
}

.item-text p {
  font-size: 1vw;
  line-height: 1vw;
  margin-top: 10px;
  font-weight: normal;
  color: white !important
}

.center {
  font-weight: bolder;
}

#grad1 {
  background: url("../images/Group\ 60.svg");
  background-size: cover;
  height: 50vw;
  background-repeat: no-repeat;
  padding: 0;
  background-position: center;
}

.main-text h2 {
  position: absolute;
  width: 30vw;
  height: 28px;
  left: 20%;
  top: 30%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #FF4301;
}

.main-text p {
  position: absolute;
  width: 30vw;
  height: 96px;
  left: 20%;
  top: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 28px;
  color: #FFFFFF;

}

.main-text h3 {
  position: absolute;
  width: 308px;
  height: 88px;
  left: 20%;
  top: 35%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 88px;
  /* identical to box height */
  color: #FFFFFF;
}

.horizontal {
  position: absolute;
  width: 16vw;
  height: 3px;
  left: 20%;
  top: 34%;
  background-color: #FF4301
}

.flex {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-text {
  background-color: rgba(0, 0, 0, 0.822);
  position: relative;
  width: 50%;
  height: 50vw;
}

.empty {
  width: 50%;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  visibility: hidden;
  font-weight: normal;
  width: 100%;
}

.overlay {
  transition: all 0.5s ease-in-out
}

.item:hover .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}

.item:hover .item-text {
  color: #FF4301;
}

.item:hover .hidden {
  visibility: visible;
  transition: all 0.2s ease-in-out
}

.item:hover {
  transform: scale(1.04);
  transition: all 0.5s ease-in-out;
}

.ico {
  margin-top: 3vw;
  margin-bottom: 5vw;
}

/* small screen */
@media only screen and (max-width:576px) {
  #grad1 {
    height: 377px;
  }

  .main-text h2 {
    position: absolute;
    height: 28px;
    left: 51%;
    transform: translateX(-50%);
    top: 18%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vw;
    /* identical to box height, or 560% */
    color: #FF4301;
  }

  .item {
    width: 100%;
  }

  #services h2 {
    display: none
  }

  .main-text p {
    position: absolute;
    height: 18px;
    left: 50%;
    top: 52%;
    width: 50%;
    transform: translateX(-50%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 8px;
    text-align: center;
    color: #FFFFFF;
  }

  .item:hover .item-text {
    font-size: 5vw;
    line-height: 6vw;
    transition: all 0.3s ease-in-out
  }

  .item-text {
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    font-size: 6vw;
    line-height: 8vw;
    transform: translateX(-50%);
    font-weight: bolder
  }

  #rectangle7 {
    margin-bottom: 90px;
  }

  .main-text h3 {
    position: absolute;
    width: 77px;
    height: 22px;
    left: 51%;
    top: 37%;
    transform: translateX(-50%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
  }

  .horizontal {
    position: absolute;
    width: 137px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 22%;
  }

  .flex {
    flex-direction: column-reverse;
  }

  .empty {
    height: 257px;
    width: 100%;
  }

  .main-text {
    width: 100%;
    height: 227px;
  }

  .ico {
    padding-left: 35%;
  }

  .ico-inner {
    margin-left: -40px;
    margin-bottom: 30px;
  }

  .ico-inner-sm {
    margin-left: -15px;
    margin-bottom: 30px;
  }

  .item-text p {
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: normal
  }

  .hidden {
    visibility: hidden;
    font-weight: normal;
    width: 45vw;
  }
}

/* Tablet Screen */
@media only screen and (min-width:600px) {
  @media only screen and (max-width:992px) {
    .item-text p {
      font-size: 1vw;
      line-height: 1vw;
      font-weight: normal
    }

    .main-text p {
      line-height: 14px;
      font-size: 2vw;
      margin-top: 10px;
    }

    .item-text {
      position: absolute;
      height: 60px;
      left: 50%;
      top: 60%;
      transform: translateX(-50%);
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bolder;
      font-size: 2vw;
      color: #FFFFFF;
      line-height: 2.5vw;
      text-align: center;
      transition: all 0.5s ease-in-out
    }
  }
}