
body{
  margin: 0;
  padding:0
}
#rectangle3 {
  width: 100%;
}

#services {
  text-align: center;
  color: #ff4301;
}

#rectangle7 {
  width: 100%;
  height: 15px;
  background-color: #ff4301;
}
.item{
  position: relative;
}
.item-text{
  position: absolute;
height: 60px;
left: 50%;
top: 60%;
transform: translateX(-50%);
font-family: Montserrat;
font-style: normal;
font-weight:bolder;
font-size: 4vw;
color: #FFFFFF;
line-height: 3.5vw;
text-align: center;
}
.prog{
  font-size:3vw;
  font-weight: bolder;
  color:#ff4301;
  line-height: 3vw
}
.item-text p{
  font-size: 1vw;
  line-height: 1vw;
}
.center {
  font-weight: bolder;
}
#grad1 {
  background: url("../images/Group\ 60.svg");
  background-size:cover;
  height: 50vw;
  background-repeat: no-repeat;
  padding:0;
  background-position: center;
}
.main-text h2{
  position: absolute;
  width: 30vw;
  height: 28px;
  left: 20%;
  top: 30%;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 28px;
  /* identical to box height, or 140% */
  
  
  color: #FF4301;
}
.main-text p{
  position: absolute;
width: 30vw;
height: 96px;
left: 20%;
top: 50%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 2vw;
line-height: 24px;

color: #FFFFFF;

}
.main-text h3{
  position: absolute;
width: 308px;
height: 88px;
left: 20%;
top: 35%;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 4vw;
line-height: 88px;
/* identical to box height */


color: #FFFFFF;
}
#hr {
position: absolute;
width: 186px;
height: 3px;
left: 20%;
top: 34%;
background-color: #FF4301
}
.flex{
  display:flex;
  width:100%;
  height: 100%;
}
.main-text{
  background-color: rgba(0, 0, 0, 0.822);
  position: relative;
  z-index: 3;
  width:50%;
  height:50vw;
}
.empty{
  width:50%;
  position: relative;
  z-index: 88
}
img {
  max-width: 100%;
  height: auto;
}

/* small screen */
@media only screen  and (max-width:576px){
  p{
    font-size:14px
}
  #grad1{
    height:377px;
}
.main-text h2{
position: absolute;
height: 28px;
left: 50%;
transform: translateX(-50%);
top: 18%;
width: 130px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 11px;
/* identical to box height, or 560% */


color: #FF4301;
}
.main-text p{
position: absolute;
width: 137px;
height: 18px;
left: 50%;
top: 52%;
transform: translateX(-50%);
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 2vw;
line-height: 10px;
text-align: center;

color: #FFFFFF;
  }
.item-text{
    position: absolute;
    top: 55%;
    left:50%;
    color:white;
    font-size:6vw;
    line-height:5vw;
    transform: translateX(-50%);
    font-weight: bolder
}
.main-text h3{
    position: absolute;
width: 77px;
height: 22px;
left: 50%;
top: 37%;
transform: translateX(-50%);
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
}
  #hr{
    position: absolute;
  width: 150px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  top: 22%;
}
.prog{
  font-size:7vw;
  font-weight: bolder;
  color:#ff4301;
  line-height: 5vw
}
  .flex{
    flex-direction: column-reverse;
}
  .empty{
    height:257px;
    width: 100%;
}
  .main-text{
    width:100%;
    height: 227px;
  }
  .ico{
    padding-left:35%;
  }
  .ico-inner{
    margin-left: -30px
  }
  .ico-inner-sm{
    margin-left: -5px
  }
  .item-text p{
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: normal
  }
}
@media only screen  and (min-width:600px){
  @media only screen  and (max-width:700px){
    .item-text p{
    font-size: 4.5vw;
    line-height: 4vw;
    font-weight: normal
  }
  .prog{
    font-size:8vw;
    font-weight: bolder;
    color:#ff4301;
    line-height: 5.5vw
  }
  .item-text{
    position: absolute;
    top: 60%;
    left:50%;
    color:white;
    font-size:9vw;
    transform: translateX(-50%);
    font-weight: bolder;
    line-height: 7vw
}
.main-text p{
  line-height: 14px;
  font-size:2vw;
  margin-top: 10px;
}

}
  
}
